a {
  border-radius: 32px;
  color: rgba(255, 255, 255);
  font-weight: 500;
  margin: 2px;
  padding: 12px 16px;
  margin-left: 16px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  white-space: nowrap;
}

a:hover {
  box-shadow: 0 0 24px rgba(145, 92, 182, .6);
  background-color: rgba(145, 92, 182, .3);
}

body {
  background-color: rgb(89, 98, 112);
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  color: #000;
  text-shadow: 0 0 12px rgb(89, 89, 89);
}

canvas {
  position: absolute;
  pointer-events: none;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.lowercase {
  text-transform: lowercase;
}

.navigation {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}

.nowrap {
  white-space: nowrap;
}

.main-title {
  margin: 0;
  text-align: center;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 5.2em;
  letter-spacing: 0.1em;
  text-shadow: none;
}

.unhide {
  display: none;
}

.thin {
  font-weight: 200;
}

.relative {
  position: relative;
}

.super-tag {
  text-shadow: 0 0 12px rgb(30, 144, 255);
  background-color: #142940cd;
  color: rgb(30, 144, 255);
  padding: 4px 24px;
  font-size: 24px;
  border-radius: 24px;
  position: absolute;
  top: 100%;
  right: 0;
}

@media only screen and (max-width : 864px) {
  .hide {
    display: none;
  }

  .unhide {
    display: block;
  }
}
.scene {
  width: 40px;
  height: 40px;
  margin: 20px;
}

.box {
  width: 40px;
  height: 40px;
  position: relative;
  transform-style: preserve-3d;
}


.box__face {
  position: absolute;
  font-size: 24px;  
  text-align: center;
  line-height: 40px;
  text-shadow: 0 0 12px currentColor;
  background-color: rgba(20, 41, 64, .8);
}

.box__face--front,
.box__face--back {
  width: 40px;
  height: 40px;
}

.box__face--right,
.box__face--left {
  width: 40px;
  height: 40px;
  left: 40px;
}

.box__face--top,
.box__face--bottom {
  width: 40px;
  height: 40px;
  top: 20px;
}

.box__face--front {
  color:yellow;
}

.box__face--back {
  color:chartreuse
}

.box__face--top {
  color:deeppink;
}

.box__face--bottom {
  color:yellow;
}

.box__face--right {
  color: white;
}

.box__face--left {
  color:cyan;
}

.box__face--front {
  transform: translateZ(20px) ;
}

.box__face--back {
  transform: translateZ(-20px);
}

.box__face--right {
  transform: rotateY(90deg) rotateX(180deg) translateZ(20px);
}

.box__face--left {
  transform: rotateY(-90deg) rotateX(180deg) translateZ(-60px);
}

.box__face--top {
  transform: rotateX(90deg) translateZ(40px);
}

.box__face--bottom {
  transform: rotateX(-90deg) translateZ(0px);
}

/* rotate cube vertically infinitely */
@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-720deg) rotateY(360deg);
  }
}

/* rotate cube horizontally infinitely */
.box {
  animation: spin 8s infinite linear;
}