<!DOCTYPE html>
<html>
	<head>
		<title>Uh oh...</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css' />
	</head>
	<body>
		<canvas id="canvas"></canvas>
		<div id="container">
			<h1 class="main-title nowrap hide">Four<span class="thin">OhFour</span></h1>
			<div class="navigation">
				<h1 class="nowrap hide">Does not exist. go home?</h1>
				<a href="./">home</a>
			</div>
		</div>
		<script src="app/TweenLite.min.js"></script>
		<script src="app/EasePack.min.js"></script>
		<script src="app/connect.js"></script>
	</body>
</html>