<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css' />
	</head>
	<body>
		<canvas id="canvas"></canvas>
		<div id="container">
			<h1 class="main-title nowrap">Who<span class="thin">IAm</span></h1>
			<span style="flex-direction: column; align-items: first baseline; font-size: 2vw;">
				<div><span class="thin">I'm&nbsp;</span>Marcus,&nbsp;<span class="thin">but my friends call me&nbsp;</span>Svey.&nbsp;<span class="thin">I've got a&nbsp;</span>dog, Canis,&nbsp;<span class="thin">and we&nbsp;</span>walk/run/hike&nbsp;<span class="thin">several miles a day.</span></div>
				<div><span class="thin">In my free time, I&nbsp;</span>surf, train in calisthenics, play ultimate frisbee and chess, and create things.</div>
				<div><span class="thin">My friends describe me as&nbsp;</span>eccentric, curious, and hard-working.&nbsp;<span class="thin">Introduce me to your&nbsp;</span>hobbies, ideas, network, and favorite places to eat.&nbsp;<span class="thin">Based in the&nbsp;</span>San Francisco YAY AREAAAAAA.</div>
				<div></div>
			</span>
			<h1 class="main-title nowrap">⌨♜</h1>
		</div>
		<script src="app/TweenLite.min.js"></script>
		<script src="app/EasePack.min.js"></script>
		<script src="app/connect.js"></script>
	</body>
</html>